/* Global */

.link {
  color: #d41929;
  text-decoration: underline;
}

/* Topbar */

.logo,
.logo-sm {
  max-height: 35px; 
  fill: #cc3232;
}

.nav-link {
  line-height: 64px;
}

.search-icon,
.menu-icon,
.connect-icon {
  color: #cc3232;
}

/* Hero */

.title-hero {
  color: #343c50;
}

.logo-sm {
  max-height: 30px;
}

/* Social Proof */ 

.readline {
  margin-bottom: 1rem;
  display: block;
  width: 30px;
  height: 2px;
  border-top: 2px solid #cc3232;
}

/* Footer */

.connect-icon {
  padding: 1rem;
}