/** Reset CSS **/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/** Fonts **/
@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/ac6334/000000000000000000012059/27/l?subset_id=1&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/ac6334/000000000000000000012059/27/d?subset_id=1&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/ac6334/000000000000000000012059/27/a?subset_id=1&fvd=n4&v=3) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/5464d5/00000000000000000001205a/27/l?subset_id=1&fvd=i4&v=3) format("woff2"), url(https://use.typekit.net/af/5464d5/00000000000000000001205a/27/d?subset_id=1&fvd=i4&v=3) format("woff"), url(https://use.typekit.net/af/5464d5/00000000000000000001205a/27/a?subset_id=1&fvd=i4&v=3) format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/6469f1/000000000000000000012108/27/l?subset_id=1&fvd=n5&v=3) format("woff2"), url(https://use.typekit.net/af/6469f1/000000000000000000012108/27/d?subset_id=1&fvd=n5&v=3) format("woff"), url(https://use.typekit.net/af/6469f1/000000000000000000012108/27/a?subset_id=1&fvd=n5&v=3) format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/ee7e95/000000000000000000012109/27/l?subset_id=1&fvd=i5&v=3) format("woff2"), url(https://use.typekit.net/af/ee7e95/000000000000000000012109/27/d?subset_id=1&fvd=i5&v=3) format("woff"), url(https://use.typekit.net/af/ee7e95/000000000000000000012109/27/a?subset_id=1&fvd=i5&v=3) format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/294d74/00000000000000000001210a/27/l?subset_id=1&fvd=n6&v=3) format("woff2"), url(https://use.typekit.net/af/294d74/00000000000000000001210a/27/d?subset_id=1&fvd=n6&v=3) format("woff"), url(https://use.typekit.net/af/294d74/00000000000000000001210a/27/a?subset_id=1&fvd=n6&v=3) format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/75d1db/00000000000000000001210b/27/l?subset_id=1&fvd=i6&v=3) format("woff2"), url(https://use.typekit.net/af/75d1db/00000000000000000001210b/27/d?subset_id=1&fvd=i6&v=3) format("woff"), url(https://use.typekit.net/af/75d1db/00000000000000000001210b/27/a?subset_id=1&fvd=i6&v=3) format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/04ec74/00000000000000000001205b/27/l?subset_id=1&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/04ec74/00000000000000000001205b/27/d?subset_id=1&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/04ec74/00000000000000000001205b/27/a?subset_id=1&fvd=n7&v=3) format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/8cf83d/00000000000000000001205c/27/l?subset_id=1&fvd=i7&v=3) format("woff2"), url(https://use.typekit.net/af/8cf83d/00000000000000000001205c/27/d?subset_id=1&fvd=i7&v=3) format("woff"), url(https://use.typekit.net/af/8cf83d/00000000000000000001205c/27/a?subset_id=1&fvd=i7&v=3) format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: auto;
}

/** Colors **/
.title {
  background: #d41929;
}
/*# sourceMappingURL=kiisass.css.map */