@import 'modules/reset'
@import 'modules/variables'
@import 'modules/mixins'

/** Global **/

a,
p
  text-decoration: none
  color: #262626

i
  font-style: italic

b
  font-weight: bold

/** Layout **/

.fluid-container
  width: 100%

.block 
  display: block

.flex 
  display: flex

.hidden
  display: none

@media (max-width: 719px)
  body
    min-width: 720px
    
  .container
    margin-left: auto;
    margin-right: auto;
    width: 720px;

  @for $i from 1 through 12
    .grid-#{$i}
      display: inline;
      margin-left: 10px
      margin-right: 10px
      width: #{$i * 40}px

/** Position **/

.absolute
  position: absolute

.relative 
  position: relative

.fixed
  position: fixed

.inset-x-0
  left: 0
  right: 0

.top-32
  top: 8rem

.z-10
  z-index: 10

/** Flexbox **/

.flex-row
  flex-direction: row

.flex-col
  flex-direction: column

.flex-wrap
  flex-wrap: wrap

.flex-0
  flex: 0

.flex-1
  flex: 1 1 0%

.justify-center
  justify-content: center

.justify-between
  justify-content: space-between

.justify-around
  justify-content: space-around

.content-center
  align-content: center

.content-between
  align-content: space-between

.content-around
  align-content: space-around

.items-center
  align-items: center

.items-end
  align-items: flex-end

.self-center
  align-self: center

.justify-self-center
  justify-self: center

/** Spacing **/

.mx-auto
  margin-left: auto
  margin-right: auto

.m-0
  margin: 0

.my-2
  margin-top: .5rem
  margin-bottom: .5rem

.my-4
  margin-top: 1rem
  margin-bottom: 1rem

.my-8
  margin-top: 2rem
  margin-bottom: 2rem

.my-16
  margin-top: 4rem
  margin-bottom: 4rem

.mb-1
  margin-bottom: .25rem

.mb-2
  margin-bottom: .5rem

.mb-4
  margin-bottom: 1rem

.mb-6
  margin-bottom: 1.5rem

.mb-8
  margin-bottom: 2rem

.mb-16
  margin-bottom: 4rem

.p-0
  padding: 0

.p-3
  padding: .75rem

.p-4
  padding: 1rem

.p-6
  padding: 1.5rem

.px-2
  padding-left: .5rem
  padding-right: .5rem

.px-5
  padding-left: 1.5rem
  padding-right: 1.5rem

.px-10
  padding-left: 2.5rem
  padding-right: 2.5rem

.py-1
  padding-top: .25rem
  padding-bottom: .25rem

.py-3
  padding-top: .75rem
  padding-bottom: .75rem

.py-8
  padding-top: 2rem
  padding-bottom: 2rem

.py-16
  padding-top: 4rem
  padding-bottom: 4rem

/** Sizing **/

.w-full
  width: 100%

.m-w-full
  max-width: 100%

.w-screen 
  width: 100vw

.w-75
  width: 75%

.h-auto
  height: auto

.h-full
  height: 100%

.h-screen 
  height: 100vh

.h-8
  height: 2rem

.h-16
  height: 4rem

  /** Background **/

.bg-black
  background-color: $black

.bg-white
  background-color: $white

.bg-grey
  background-color: $grey

.bg-dark-grey
  background-color: $dark-grey

.bg-primary-color
  background-color: $primary-color

.bg-secondary-color
  background-color: $secondary-color

/** Typography **/

.font-primary
  font-family: $primary-font

.font-secondary
  font-family: $secondary-font

.text-white
  color: #fff

.text-grey
  color: #aaa9a9

.text-secondary
  color: $secondary-color

.text-xs
  @include text-size

.text-sm
  @include text-size($size: .9rem, $height: 1.25rem, $spacing: .02rem)

.text-base
  @include text-size($size: 1.15rem, $height: 1.7rem, $weight: 400, $spacing: .02rem)

.text-cite
  @include text-size($size: 1.5rem, $height: 1.7rem, $weight: 400, $spacing: .02rem)

.text-lg
  @include text-size($size: 1.2rem, $height: 1.9rem, $weight: 600, $spacing: .03rem)

.text-title
  @include text-size($size: 1.6rem, $height: 1.7rem, $weight: 600, $spacing: .03rem)

.text-xl
  @include text-size($size: 2.5rem, $weight: 700, $height: 1.25rem)

.text-center
  text-align: center

.text-right
  text-align: right

.list-none
  list-style: none

/** Miscelanea **/

.border-none
  border: none

.border
  @include border

.border-t
  @include border-t($width: 1px, $border-color: $grey)

.border-t-secondary
  @include border-t($width: 3px, $border-color: $primary-color)

.border-b
  @include border-b

.rounded
  border-radius: .25rem

.outline-none 
  outline: 2px solid transparent

.disc-style
  list-style: disc inside


  /** Media Queries **/

@media (max-width: 1024px)
  .lg-hidden
    display: none

  .lg-shown
    display: block
    