/** Reset CSS **/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/** Fonts **/
@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/ac6334/000000000000000000012059/27/l?subset_id=1&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/ac6334/000000000000000000012059/27/d?subset_id=1&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/ac6334/000000000000000000012059/27/a?subset_id=1&fvd=n4&v=3) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/5464d5/00000000000000000001205a/27/l?subset_id=1&fvd=i4&v=3) format("woff2"), url(https://use.typekit.net/af/5464d5/00000000000000000001205a/27/d?subset_id=1&fvd=i4&v=3) format("woff"), url(https://use.typekit.net/af/5464d5/00000000000000000001205a/27/a?subset_id=1&fvd=i4&v=3) format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/6469f1/000000000000000000012108/27/l?subset_id=1&fvd=n5&v=3) format("woff2"), url(https://use.typekit.net/af/6469f1/000000000000000000012108/27/d?subset_id=1&fvd=n5&v=3) format("woff"), url(https://use.typekit.net/af/6469f1/000000000000000000012108/27/a?subset_id=1&fvd=n5&v=3) format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/ee7e95/000000000000000000012109/27/l?subset_id=1&fvd=i5&v=3) format("woff2"), url(https://use.typekit.net/af/ee7e95/000000000000000000012109/27/d?subset_id=1&fvd=i5&v=3) format("woff"), url(https://use.typekit.net/af/ee7e95/000000000000000000012109/27/a?subset_id=1&fvd=i5&v=3) format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/294d74/00000000000000000001210a/27/l?subset_id=1&fvd=n6&v=3) format("woff2"), url(https://use.typekit.net/af/294d74/00000000000000000001210a/27/d?subset_id=1&fvd=n6&v=3) format("woff"), url(https://use.typekit.net/af/294d74/00000000000000000001210a/27/a?subset_id=1&fvd=n6&v=3) format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/75d1db/00000000000000000001210b/27/l?subset_id=1&fvd=i6&v=3) format("woff2"), url(https://use.typekit.net/af/75d1db/00000000000000000001210b/27/d?subset_id=1&fvd=i6&v=3) format("woff"), url(https://use.typekit.net/af/75d1db/00000000000000000001210b/27/a?subset_id=1&fvd=i6&v=3) format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/04ec74/00000000000000000001205b/27/l?subset_id=1&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/04ec74/00000000000000000001205b/27/d?subset_id=1&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/04ec74/00000000000000000001205b/27/a?subset_id=1&fvd=n7&v=3) format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/8cf83d/00000000000000000001205c/27/l?subset_id=1&fvd=i7&v=3) format("woff2"), url(https://use.typekit.net/af/8cf83d/00000000000000000001205c/27/d?subset_id=1&fvd=i7&v=3) format("woff"), url(https://use.typekit.net/af/8cf83d/00000000000000000001205c/27/a?subset_id=1&fvd=i7&v=3) format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: auto;
}

/** Colors **/
/** Fonts **/
@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/ac6334/000000000000000000012059/27/l?subset_id=1&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/ac6334/000000000000000000012059/27/d?subset_id=1&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/ac6334/000000000000000000012059/27/a?subset_id=1&fvd=n4&v=3) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/5464d5/00000000000000000001205a/27/l?subset_id=1&fvd=i4&v=3) format("woff2"), url(https://use.typekit.net/af/5464d5/00000000000000000001205a/27/d?subset_id=1&fvd=i4&v=3) format("woff"), url(https://use.typekit.net/af/5464d5/00000000000000000001205a/27/a?subset_id=1&fvd=i4&v=3) format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/6469f1/000000000000000000012108/27/l?subset_id=1&fvd=n5&v=3) format("woff2"), url(https://use.typekit.net/af/6469f1/000000000000000000012108/27/d?subset_id=1&fvd=n5&v=3) format("woff"), url(https://use.typekit.net/af/6469f1/000000000000000000012108/27/a?subset_id=1&fvd=n5&v=3) format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/ee7e95/000000000000000000012109/27/l?subset_id=1&fvd=i5&v=3) format("woff2"), url(https://use.typekit.net/af/ee7e95/000000000000000000012109/27/d?subset_id=1&fvd=i5&v=3) format("woff"), url(https://use.typekit.net/af/ee7e95/000000000000000000012109/27/a?subset_id=1&fvd=i5&v=3) format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/294d74/00000000000000000001210a/27/l?subset_id=1&fvd=n6&v=3) format("woff2"), url(https://use.typekit.net/af/294d74/00000000000000000001210a/27/d?subset_id=1&fvd=n6&v=3) format("woff"), url(https://use.typekit.net/af/294d74/00000000000000000001210a/27/a?subset_id=1&fvd=n6&v=3) format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/75d1db/00000000000000000001210b/27/l?subset_id=1&fvd=i6&v=3) format("woff2"), url(https://use.typekit.net/af/75d1db/00000000000000000001210b/27/d?subset_id=1&fvd=i6&v=3) format("woff"), url(https://use.typekit.net/af/75d1db/00000000000000000001210b/27/a?subset_id=1&fvd=i6&v=3) format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/04ec74/00000000000000000001205b/27/l?subset_id=1&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/04ec74/00000000000000000001205b/27/d?subset_id=1&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/04ec74/00000000000000000001205b/27/a?subset_id=1&fvd=n7&v=3) format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/8cf83d/00000000000000000001205c/27/l?subset_id=1&fvd=i7&v=3) format("woff2"), url(https://use.typekit.net/af/8cf83d/00000000000000000001205c/27/d?subset_id=1&fvd=i7&v=3) format("woff"), url(https://use.typekit.net/af/8cf83d/00000000000000000001205c/27/a?subset_id=1&fvd=i7&v=3) format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: auto;
}

/** Colors **/
/** Typography **/
/** Miscelanea **/
/** Global **/
a,
p {
  text-decoration: none;
  color: #262626;
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}

/** Layout **/
.block {
  display: block;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hidden {
  display: none;
}

.fluid-container {
  width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.grid-1 {
  margin-left: 10px;
  margin-right: 10px;
}

.grid-2 {
  margin-left: 10px;
  margin-right: 10px;
}

.grid-3 {
  margin-left: 10px;
  margin-right: 10px;
}

.grid-4 {
  margin-left: 10px;
  margin-right: 10px;
}

.grid-5 {
  margin-left: 10px;
  margin-right: 10px;
}

.grid-6 {
  margin-left: 10px;
  margin-right: 10px;
}

.grid-7 {
  margin-left: 10px;
  margin-right: 10px;
}

.grid-8 {
  margin-left: 10px;
  margin-right: 10px;
}

.grid-9 {
  margin-left: 10px;
  margin-right: 10px;
}

.grid-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.grid-11 {
  margin-left: 10px;
  margin-right: 10px;
}

.grid-12 {
  margin-left: 10px;
  margin-right: 10px;
}

/** xs Breakpoint **/
@media (min-width: 0) {
  body {
    min-width: 290px;
  }
  .container {
    width: 290px;
  }
  .xs-grid-1 {
    width: 20px;
  }
  .xs-grid-2 {
    width: 40px;
  }
  .xs-grid-3 {
    width: 60px;
  }
  .xs-grid-4 {
    width: 80px;
  }
  .xs-grid-5 {
    width: 100px;
  }
  .xs-grid-6 {
    width: 120px;
  }
  .xs-grid-7 {
    width: 140px;
  }
  .xs-grid-8 {
    width: 160px;
  }
  .xs-grid-9 {
    width: 180px;
  }
  .xs-grid-10 {
    width: 200px;
  }
  .xs-grid-11 {
    width: 220px;
  }
  .xs-grid-12 {
    width: 240px;
  }
  .xs-w-full {
    width: 240px;
  }
}

/** sm Breakpoint **/
@media (min-width: 575px) {
  body {
    min-width: 576px;
  }
  .container {
    width: 576px;
  }
  .sm-grid-1 {
    width: 40px;
  }
  .sm-grid-2 {
    width: 80px;
  }
  .sm-grid-3 {
    width: 120px;
  }
  .sm-grid-4 {
    width: 160px;
  }
  .sm-grid-5 {
    width: 200px;
  }
  .sm-grid-6 {
    width: 240px;
  }
  .sm-grid-7 {
    width: 280px;
  }
  .sm-grid-8 {
    width: 320px;
  }
  .sm-grid-9 {
    width: 360px;
  }
  .sm-grid-10 {
    width: 400px;
  }
  .sm-grid-11 {
    width: 440px;
  }
  .sm-grid-12 {
    width: 480px;
  }
  .sm-w-full {
    width: 480px;
  }
}

/** md Breakpoint **/
@media (min-width: 767px) {
  body {
    min-width: 768px;
  }
  .container {
    width: 768px;
  }
  .md-grid-1 {
    width: 60px;
  }
  .md-grid-2 {
    width: 120px;
  }
  .md-grid-3 {
    width: 180px;
  }
  .md-grid-4 {
    width: 240px;
  }
  .md-grid-5 {
    width: 300px;
  }
  .md-grid-6 {
    width: 360px;
  }
  .md-grid-7 {
    width: 420px;
  }
  .md-grid-8 {
    width: 480px;
  }
  .md-grid-9 {
    width: 540px;
  }
  .md-grid-10 {
    width: 600px;
  }
  .md-grid-11 {
    width: 660px;
  }
  .md-grid-12 {
    width: 720px;
  }
  .md-w-full {
    width: 720px;
  }
}

/** lg Breakpoint **/
@media (min-width: 991px) {
  body {
    min-width: 992px;
  }
  .container {
    width: 992px;
  }
  .lg-grid-1 {
    width: 80px;
  }
  .lg-grid-2 {
    width: 160px;
  }
  .lg-grid-3 {
    width: 240px;
  }
  .lg-grid-4 {
    width: 320px;
  }
  .lg-grid-5 {
    width: 400px;
  }
  .lg-grid-6 {
    width: 480px;
  }
  .lg-grid-7 {
    width: 560px;
  }
  .lg-grid-8 {
    width: 640px;
  }
  .lg-grid-9 {
    width: 720px;
  }
  .lg-grid-10 {
    width: 800px;
  }
  .lg-grid-11 {
    width: 880px;
  }
  .lg-grid-12 {
    width: 960px;
  }
  .lg-w-full {
    width: 960px;
  }
}

/** xl Breakpoint **/
@media (min-width: 1199px) {
  body {
    min-width: 1200px;
  }
  .container {
    width: 1200px;
  }
  .xl-grid-1 {
    width: 100px;
  }
  .xl-grid-2 {
    width: 200px;
  }
  .xl-grid-3 {
    width: 300px;
  }
  .xl-grid-4 {
    width: 400px;
  }
  .xl-grid-5 {
    width: 500px;
  }
  .xl-grid-6 {
    width: 600px;
  }
  .xl-grid-7 {
    width: 700px;
  }
  .xl-grid-8 {
    width: 800px;
  }
  .xl-grid-9 {
    width: 900px;
  }
  .xl-grid-10 {
    width: 1000px;
  }
  .xl-grid-11 {
    width: 1100px;
  }
  .xl-grid-12 {
    width: 1200px;
  }
  .xl-w-full {
    width: 1200px;
  }
}

/** Position **/
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.inset 0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.inset-x-0 {
  left: 0;
  right: 0;
}

.top-1 {
  top: 0.5rem;
}

.top-2 {
  top: 1rem;
}

.top-3 {
  top: 1.5rem;
}

.top-4 {
  top: 2rem;
}

.top-5 {
  top: 2.5rem;
}

.top-6 {
  top: 3rem;
}

.top-7 {
  top: 3.5rem;
}

.top-8 {
  top: 4rem;
}

.top-9 {
  top: 4.5rem;
}

.top-10 {
  top: 5rem;
}

.top-11 {
  top: 5.5rem;
}

.top-12 {
  top: 6rem;
}

.top-13 {
  top: 6.5rem;
}

.top-14 {
  top: 7rem;
}

.top-15 {
  top: 7.5rem;
}

.top-16 {
  top: 8rem;
}

.top-17 {
  top: 8.5rem;
}

.top-18 {
  top: 9rem;
}

.top-19 {
  top: 9.5rem;
}

.top-20 {
  top: 10rem;
}

.top-21 {
  top: 10.5rem;
}

.top-22 {
  top: 11rem;
}

.top-23 {
  top: 11.5rem;
}

.top-24 {
  top: 12rem;
}

.top-25 {
  top: 12.5rem;
}

.top-26 {
  top: 13rem;
}

.top-27 {
  top: 13.5rem;
}

.top-28 {
  top: 14rem;
}

.top-29 {
  top: 14.5rem;
}

.top-30 {
  top: 15rem;
}

.top-31 {
  top: 15.5rem;
}

.top-32 {
  top: 16rem;
}

.right-1 {
  right: 0.5rem;
}

.right-2 {
  right: 1rem;
}

.right-3 {
  right: 1.5rem;
}

.right-4 {
  right: 2rem;
}

.right-5 {
  right: 2.5rem;
}

.right-6 {
  right: 3rem;
}

.right-7 {
  right: 3.5rem;
}

.right-8 {
  right: 4rem;
}

.right-9 {
  right: 4.5rem;
}

.right-10 {
  right: 5rem;
}

.right-11 {
  right: 5.5rem;
}

.right-12 {
  right: 6rem;
}

.right-13 {
  right: 6.5rem;
}

.right-14 {
  right: 7rem;
}

.right-15 {
  right: 7.5rem;
}

.right-16 {
  right: 8rem;
}

.right-17 {
  right: 8.5rem;
}

.right-18 {
  right: 9rem;
}

.right-19 {
  right: 9.5rem;
}

.right-20 {
  right: 10rem;
}

.right-21 {
  right: 10.5rem;
}

.right-22 {
  right: 11rem;
}

.right-23 {
  right: 11.5rem;
}

.right-24 {
  right: 12rem;
}

.right-25 {
  right: 12.5rem;
}

.right-26 {
  right: 13rem;
}

.right-27 {
  right: 13.5rem;
}

.right-28 {
  right: 14rem;
}

.right-29 {
  right: 14.5rem;
}

.right-30 {
  right: 15rem;
}

.right-31 {
  right: 15.5rem;
}

.right-32 {
  right: 16rem;
}

.bottom-1 {
  bottom: 0.5rem;
}

.bottom-2 {
  bottom: 1rem;
}

.bottom-3 {
  bottom: 1.5rem;
}

.bottom-4 {
  bottom: 2rem;
}

.bottom-5 {
  bottom: 2.5rem;
}

.bottom-6 {
  bottom: 3rem;
}

.bottom-7 {
  bottom: 3.5rem;
}

.bottom-8 {
  bottom: 4rem;
}

.bottom-9 {
  bottom: 4.5rem;
}

.bottom-10 {
  bottom: 5rem;
}

.bottom-11 {
  bottom: 5.5rem;
}

.bottom-12 {
  bottom: 6rem;
}

.bottom-13 {
  bottom: 6.5rem;
}

.bottom-14 {
  bottom: 7rem;
}

.bottom-15 {
  bottom: 7.5rem;
}

.bottom-16 {
  bottom: 8rem;
}

.bottom-17 {
  bottom: 8.5rem;
}

.bottom-18 {
  bottom: 9rem;
}

.bottom-19 {
  bottom: 9.5rem;
}

.bottom-20 {
  bottom: 10rem;
}

.bottom-21 {
  bottom: 10.5rem;
}

.bottom-22 {
  bottom: 11rem;
}

.bottom-23 {
  bottom: 11.5rem;
}

.bottom-24 {
  bottom: 12rem;
}

.bottom-25 {
  bottom: 12.5rem;
}

.bottom-26 {
  bottom: 13rem;
}

.bottom-27 {
  bottom: 13.5rem;
}

.bottom-28 {
  bottom: 14rem;
}

.bottom-29 {
  bottom: 14.5rem;
}

.bottom-30 {
  bottom: 15rem;
}

.bottom-31 {
  bottom: 15.5rem;
}

.bottom-32 {
  bottom: 16rem;
}

.left-1 {
  left: 0.5rem;
}

.left-2 {
  left: 1rem;
}

.left-3 {
  left: 1.5rem;
}

.left-4 {
  left: 2rem;
}

.left-5 {
  left: 2.5rem;
}

.left-6 {
  left: 3rem;
}

.left-7 {
  left: 3.5rem;
}

.left-8 {
  left: 4rem;
}

.left-9 {
  left: 4.5rem;
}

.left-10 {
  left: 5rem;
}

.left-11 {
  left: 5.5rem;
}

.left-12 {
  left: 6rem;
}

.left-13 {
  left: 6.5rem;
}

.left-14 {
  left: 7rem;
}

.left-15 {
  left: 7.5rem;
}

.left-16 {
  left: 8rem;
}

.left-17 {
  left: 8.5rem;
}

.left-18 {
  left: 9rem;
}

.left-19 {
  left: 9.5rem;
}

.left-20 {
  left: 10rem;
}

.left-21 {
  left: 10.5rem;
}

.left-22 {
  left: 11rem;
}

.left-23 {
  left: 11.5rem;
}

.left-24 {
  left: 12rem;
}

.left-25 {
  left: 12.5rem;
}

.left-26 {
  left: 13rem;
}

.left-27 {
  left: 13.5rem;
}

.left-28 {
  left: 14rem;
}

.left-29 {
  left: 14.5rem;
}

.left-30 {
  left: 15rem;
}

.left-31 {
  left: 15.5rem;
}

.left-32 {
  left: 16rem;
}

.z-1 {
  z-index: 1;
}

.z-10 {
  z-index: 10;
}

.z-100 {
  z-index: 100;
}

/** Flexbox **/
.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-0 {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content-start {
  -ms-flex-line-pack: start;
      align-content: start;
}

.content-end {
  -ms-flex-line-pack: end;
      align-content: end;
}

.content-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.content-between {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.content-around {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.self-start {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.self-end {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.self-auto {
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

.self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/** Responsive Flex Direction **/
/** xs Flex Direction **/
@media (min-width: 0) {
  .xs-flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .xs-flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/** sm Flex Direction **/
@media (max-width: 575px) {
  .sm-flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sm-flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/** md Flex Direction **/
@media (max-width: 767px) {
  .md-flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .md-flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/** lg Flex Direction **/
@media (max-width: 991px) {
  .lg-flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .lg-flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/** xl Flex Direction **/
@media (max-width: 1199px) {
  .xl-flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .xl-flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/** Spacing **/
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-0 {
  margin: 0;
}

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.mx-6 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mx-7 {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.mx-8 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.mx-9 {
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

.mx-10 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.mx-11 {
  margin-left: 5.5rem;
  margin-right: 5.5rem;
}

.mx-12 {
  margin-left: 6rem;
  margin-right: 6rem;
}

.mx-13 {
  margin-left: 6.5rem;
  margin-right: 6.5rem;
}

.mx-14 {
  margin-left: 7rem;
  margin-right: 7rem;
}

.mx-15 {
  margin-left: 7.5rem;
  margin-right: 7.5rem;
}

.mx-16 {
  margin-left: 8rem;
  margin-right: 8rem;
}

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-6 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-7 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.my-8 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-9 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.my-10 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.my-11 {
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;
}

.my-12 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.my-13 {
  margin-top: 6.5rem;
  margin-bottom: 6.5rem;
}

.my-14 {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.my-15 {
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;
}

.my-16 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mt-5 {
  margin-top: 2.5rem;
}

.mt-6 {
  margin-top: 3rem;
}

.mt-7 {
  margin-top: 3.5rem;
}

.mt-8 {
  margin-top: 4rem;
}

.mt-9 {
  margin-top: 4.5rem;
}

.mt-10 {
  margin-top: 5rem;
}

.mt-11 {
  margin-top: 5.5rem;
}

.mt-12 {
  margin-top: 6rem;
}

.mt-13 {
  margin-top: 6.5rem;
}

.mt-14 {
  margin-top: 7rem;
}

.mt-15 {
  margin-top: 7.5rem;
}

.mt-16 {
  margin-top: 8rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mr-3 {
  margin-right: 1.5rem;
}

.mr-4 {
  margin-right: 2rem;
}

.mr-5 {
  margin-right: 2.5rem;
}

.mr-6 {
  margin-right: 3rem;
}

.mr-7 {
  margin-right: 3.5rem;
}

.mr-8 {
  margin-right: 4rem;
}

.mr-9 {
  margin-right: 4.5rem;
}

.mr-10 {
  margin-right: 5rem;
}

.mr-11 {
  margin-right: 5.5rem;
}

.mr-12 {
  margin-right: 6rem;
}

.mr-13 {
  margin-right: 6.5rem;
}

.mr-14 {
  margin-right: 7rem;
}

.mr-15 {
  margin-right: 7.5rem;
}

.mr-16 {
  margin-right: 8rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mb-5 {
  margin-bottom: 2.5rem;
}

.mb-6 {
  margin-bottom: 3rem;
}

.mb-7 {
  margin-bottom: 3.5rem;
}

.mb-8 {
  margin-bottom: 4rem;
}

.mb-9 {
  margin-bottom: 4.5rem;
}

.mb-10 {
  margin-bottom: 5rem;
}

.mb-11 {
  margin-bottom: 5.5rem;
}

.mb-12 {
  margin-bottom: 6rem;
}

.mb-13 {
  margin-bottom: 6.5rem;
}

.mb-14 {
  margin-bottom: 7rem;
}

.mb-15 {
  margin-bottom: 7.5rem;
}

.mb-16 {
  margin-bottom: 8rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 1rem;
}

.ml-3 {
  margin-left: 1.5rem;
}

.ml-4 {
  margin-left: 2rem;
}

.ml-5 {
  margin-left: 2.5rem;
}

.ml-6 {
  margin-left: 3rem;
}

.ml-7 {
  margin-left: 3.5rem;
}

.ml-8 {
  margin-left: 4rem;
}

.ml-9 {
  margin-left: 4.5rem;
}

.ml-10 {
  margin-left: 5rem;
}

.ml-11 {
  margin-left: 5.5rem;
}

.ml-12 {
  margin-left: 6rem;
}

.ml-13 {
  margin-left: 6.5rem;
}

.ml-14 {
  margin-left: 7rem;
}

.ml-15 {
  margin-left: 7.5rem;
}

.ml-16 {
  margin-left: 8rem;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.p-3 {
  padding: 1.5rem;
}

.p-4 {
  padding: 2rem;
}

.p-5 {
  padding: 2.5rem;
}

.p-6 {
  padding: 3rem;
}

.p-7 {
  padding: 3.5rem;
}

.p-8 {
  padding: 4rem;
}

.p-9 {
  padding: 4.5rem;
}

.p-10 {
  padding: 5rem;
}

.p-11 {
  padding: 5.5rem;
}

.p-12 {
  padding: 6rem;
}

.p-13 {
  padding: 6.5rem;
}

.p-14 {
  padding: 7rem;
}

.p-15 {
  padding: 7.5rem;
}

.p-16 {
  padding: 8rem;
}

.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-6 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-7 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.px-8 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.px-9 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.px-10 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.px-11 {
  padding-left: 5.5rem;
  padding-right: 5.5rem;
}

.px-12 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.px-13 {
  padding-left: 6.5rem;
  padding-right: 6.5rem;
}

.px-14 {
  padding-left: 7rem;
  padding-right: 7rem;
}

.px-15 {
  padding-left: 7.5rem;
  padding-right: 7.5rem;
}

.px-16 {
  padding-left: 8rem;
  padding-right: 8rem;
}

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-6 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-7 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.py-8 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-9 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.py-10 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-11 {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.py-12 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py-13 {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
}

.py-14 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.py-15 {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.py-16 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

/** Sizing **/
.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.h-1 {
  height: 0.5rem;
}

/** Background **/
.h-2 {
  height: 1rem;
}

/** Background **/
.h-3 {
  height: 1.5rem;
}

/** Background **/
.h-4 {
  height: 2rem;
}

/** Background **/
.h-5 {
  height: 2.5rem;
}

/** Background **/
.h-6 {
  height: 3rem;
}

/** Background **/
.h-7 {
  height: 3.5rem;
}

/** Background **/
.h-8 {
  height: 4rem;
}

/** Background **/
.h-9 {
  height: 4.5rem;
}

/** Background **/
.h-10 {
  height: 5rem;
}

/** Background **/
.h-11 {
  height: 5.5rem;
}

/** Background **/
.h-12 {
  height: 6rem;
}

/** Background **/
.h-13 {
  height: 6.5rem;
}

/** Background **/
.h-14 {
  height: 7rem;
}

/** Background **/
.h-15 {
  height: 7.5rem;
}

/** Background **/
.h-16 {
  height: 8rem;
}

/** Background **/
.bg-black {
  background-color: #343c50;
}

.bg-white {
  background-color: #fff;
}

.bg-grey {
  background-color: #eee;
}

.bg-dark-grey {
  background-color: #ccc;
}

.bg-primary-color {
  background-color: #d41929;
}

.bg-secondary-color {
  background-color: #cc3232;
}

/** Typography **/
.font-primary {
  font-family: freight-text-pro, serif;
}

.font-secondary {
  font-family: Montserrat, sans-serif;
}

.text-white {
  color: #fff;
}

.text-grey {
  color: #aaa9a9;
}

.text-secondary {
  color: #cc3232;
}

.text-xs {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0.06rem;
}

.text-sm {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.02rem;
}

.text-base {
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0.02rem;
}

.text-cite {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0.02rem;
}

.text-lg {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.9rem;
  letter-spacing: 0.03rem;
}

.text-title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.7rem;
  letter-spacing: 0.03rem;
}

.text-xl {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.06rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.list-none {
  list-style: none;
}

/** Miscelanea **/
.border-none {
  border: none;
}

.border {
  border: 1px solid #ccc;
}

.border-t {
  border-top: 1px solid #eee;
}

.border-t-secondary {
  border-top: 3px solid #d41929;
}

.border-b {
  border-bottom: 1px solid #ccc;
}

.rounded {
  border-radius: .25rem;
}

.outline-none {
  outline: 2px solid transparent;
}

.disc-style {
  list-style: disc inside;
}

/** Toggle Visibility **/
@media (max-width: 1024px) {
  .lg-hidden {
    display: none;
  }
  .lg-shown {
    display: block;
  }
}
/*# sourceMappingURL=kiisass.css.map */