/** Reset CSS **/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/** Fonts **/
@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/ac6334/000000000000000000012059/27/l?subset_id=1&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/ac6334/000000000000000000012059/27/d?subset_id=1&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/ac6334/000000000000000000012059/27/a?subset_id=1&fvd=n4&v=3) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/5464d5/00000000000000000001205a/27/l?subset_id=1&fvd=i4&v=3) format("woff2"), url(https://use.typekit.net/af/5464d5/00000000000000000001205a/27/d?subset_id=1&fvd=i4&v=3) format("woff"), url(https://use.typekit.net/af/5464d5/00000000000000000001205a/27/a?subset_id=1&fvd=i4&v=3) format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/6469f1/000000000000000000012108/27/l?subset_id=1&fvd=n5&v=3) format("woff2"), url(https://use.typekit.net/af/6469f1/000000000000000000012108/27/d?subset_id=1&fvd=n5&v=3) format("woff"), url(https://use.typekit.net/af/6469f1/000000000000000000012108/27/a?subset_id=1&fvd=n5&v=3) format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/ee7e95/000000000000000000012109/27/l?subset_id=1&fvd=i5&v=3) format("woff2"), url(https://use.typekit.net/af/ee7e95/000000000000000000012109/27/d?subset_id=1&fvd=i5&v=3) format("woff"), url(https://use.typekit.net/af/ee7e95/000000000000000000012109/27/a?subset_id=1&fvd=i5&v=3) format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/294d74/00000000000000000001210a/27/l?subset_id=1&fvd=n6&v=3) format("woff2"), url(https://use.typekit.net/af/294d74/00000000000000000001210a/27/d?subset_id=1&fvd=n6&v=3) format("woff"), url(https://use.typekit.net/af/294d74/00000000000000000001210a/27/a?subset_id=1&fvd=n6&v=3) format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/75d1db/00000000000000000001210b/27/l?subset_id=1&fvd=i6&v=3) format("woff2"), url(https://use.typekit.net/af/75d1db/00000000000000000001210b/27/d?subset_id=1&fvd=i6&v=3) format("woff"), url(https://use.typekit.net/af/75d1db/00000000000000000001210b/27/a?subset_id=1&fvd=i6&v=3) format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/04ec74/00000000000000000001205b/27/l?subset_id=1&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/04ec74/00000000000000000001205b/27/d?subset_id=1&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/04ec74/00000000000000000001205b/27/a?subset_id=1&fvd=n7&v=3) format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/8cf83d/00000000000000000001205c/27/l?subset_id=1&fvd=i7&v=3) format("woff2"), url(https://use.typekit.net/af/8cf83d/00000000000000000001205c/27/d?subset_id=1&fvd=i7&v=3) format("woff"), url(https://use.typekit.net/af/8cf83d/00000000000000000001205c/27/a?subset_id=1&fvd=i7&v=3) format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: auto;
}

/** Colors **/
/** Grid **/
/** $column-width: 55px **/
/** $cell-margin: 10px  **/
/** Fonts **/
@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/ac6334/000000000000000000012059/27/l?subset_id=1&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/ac6334/000000000000000000012059/27/d?subset_id=1&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/ac6334/000000000000000000012059/27/a?subset_id=1&fvd=n4&v=3) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/5464d5/00000000000000000001205a/27/l?subset_id=1&fvd=i4&v=3) format("woff2"), url(https://use.typekit.net/af/5464d5/00000000000000000001205a/27/d?subset_id=1&fvd=i4&v=3) format("woff"), url(https://use.typekit.net/af/5464d5/00000000000000000001205a/27/a?subset_id=1&fvd=i4&v=3) format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/6469f1/000000000000000000012108/27/l?subset_id=1&fvd=n5&v=3) format("woff2"), url(https://use.typekit.net/af/6469f1/000000000000000000012108/27/d?subset_id=1&fvd=n5&v=3) format("woff"), url(https://use.typekit.net/af/6469f1/000000000000000000012108/27/a?subset_id=1&fvd=n5&v=3) format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/ee7e95/000000000000000000012109/27/l?subset_id=1&fvd=i5&v=3) format("woff2"), url(https://use.typekit.net/af/ee7e95/000000000000000000012109/27/d?subset_id=1&fvd=i5&v=3) format("woff"), url(https://use.typekit.net/af/ee7e95/000000000000000000012109/27/a?subset_id=1&fvd=i5&v=3) format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/294d74/00000000000000000001210a/27/l?subset_id=1&fvd=n6&v=3) format("woff2"), url(https://use.typekit.net/af/294d74/00000000000000000001210a/27/d?subset_id=1&fvd=n6&v=3) format("woff"), url(https://use.typekit.net/af/294d74/00000000000000000001210a/27/a?subset_id=1&fvd=n6&v=3) format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/75d1db/00000000000000000001210b/27/l?subset_id=1&fvd=i6&v=3) format("woff2"), url(https://use.typekit.net/af/75d1db/00000000000000000001210b/27/d?subset_id=1&fvd=i6&v=3) format("woff"), url(https://use.typekit.net/af/75d1db/00000000000000000001210b/27/a?subset_id=1&fvd=i6&v=3) format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/04ec74/00000000000000000001205b/27/l?subset_id=1&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/04ec74/00000000000000000001205b/27/d?subset_id=1&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/04ec74/00000000000000000001205b/27/a?subset_id=1&fvd=n7&v=3) format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: freight-text-pro;
  src: url(https://use.typekit.net/af/8cf83d/00000000000000000001205c/27/l?subset_id=1&fvd=i7&v=3) format("woff2"), url(https://use.typekit.net/af/8cf83d/00000000000000000001205c/27/d?subset_id=1&fvd=i7&v=3) format("woff"), url(https://use.typekit.net/af/8cf83d/00000000000000000001205c/27/a?subset_id=1&fvd=i7&v=3) format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: auto;
}

/** Colors **/
/** Grid **/
/** $column-width: 55px **/
/** $cell-margin: 10px  **/
/** Grid **/
/** Typography **/
/** Miscelanea **/
/** Global **/
a,
p {
  text-decoration: none;
  color: #262626;
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}

/** Layout **/
.fluid-container {
  width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[16];
      grid-template-columns: repeat(16, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
}

.grid-1 {
  grid-column: span 1;
  grid-row: span 1;
}

.grid-2 {
  grid-column: span 2;
  grid-row: span 1;
}

.grid-3 {
  grid-column: span 3;
  grid-row: span 1;
}

.grid-4 {
  grid-column: span 4;
  grid-row: span 1;
}

.grid-5 {
  grid-column: span 5;
  grid-row: span 1;
}

.grid-6 {
  grid-column: span 6;
  grid-row: span 1;
}

.grid-7 {
  grid-column: span 7;
  grid-row: span 1;
}

.grid-8 {
  grid-column: span 8;
  grid-row: span 1;
}

.grid-9 {
  grid-column: span 9;
  grid-row: span 1;
}

.grid-10 {
  grid-column: span 10;
  grid-row: span 1;
}

.grid-11 {
  grid-column: span 11;
  grid-row: span 1;
}

.grid-12 {
  grid-column: span 12;
  grid-row: span 1;
}

.grid-13 {
  grid-column: span 13;
  grid-row: span 1;
}

.grid-14 {
  grid-column: span 14;
  grid-row: span 1;
}

.grid-15 {
  grid-column: span 15;
  grid-row: span 1;
}

.grid-16 {
  grid-column: span 16;
  grid-row: span 1;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hidden {
  display: none;
}

/** Position **/
.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.inset-x-0 {
  left: 0;
  right: 0;
}

.top-32 {
  top: 8rem;
}

.z-10 {
  z-index: 10;
}

/** Flexbox **/
.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-0 {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.content-between {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.content-around {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/** Spacing **/
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-0 {
  margin: 0;
}

.my-2 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-16 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mb-1 {
  margin-bottom: .25rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.p-0 {
  padding: 0;
}

.p-3 {
  padding: .75rem;
}

.p-4 {
  padding: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.px-2 {
  padding-left: .5rem;
  padding-right: .5rem;
}

.px-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-1 {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.py-3 {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/** Sizing **/
.w-full {
  width: 100%;
}

.m-w-full {
  max-width: 100%;
}

.w-screen {
  width: 100vw;
}

.w-75 {
  width: 75%;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.h-8 {
  height: 2rem;
}

.h-16 {
  height: 4rem;
  /** Background **/
}

.bg-black {
  background-color: #343c50;
}

.bg-white {
  background-color: #fff;
}

.bg-grey {
  background-color: #eee;
}

.bg-dark-grey {
  background-color: #ccc;
}

.bg-primary-color {
  background-color: #d41929;
}

.bg-secondary-color {
  background-color: #cc3232;
}

/** Typography **/
.font-primary {
  font-family: freight-text-pro, serif;
}

.font-secondary {
  font-family: Montserrat, sans-serif;
}

.text-white {
  color: #fff;
}

.text-grey {
  color: #aaa9a9;
}

.text-secondary {
  color: #cc3232;
}

.text-xs {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0.06rem;
}

.text-sm {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.02rem;
}

.text-base {
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0.02rem;
}

.text-cite {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0.02rem;
}

.text-lg {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.9rem;
  letter-spacing: 0.03rem;
}

.text-title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.7rem;
  letter-spacing: 0.03rem;
}

.text-xl {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.06rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.list-none {
  list-style: none;
}

/** Miscelanea **/
.border-none {
  border: none;
}

.border {
  border: 1px solid #ccc;
}

.border-t {
  border-top: 1px solid #eee;
}

.border-t-secondary {
  border-top: 3px solid #d41929;
}

.border-b {
  border-bottom: 1px solid #ccc;
}

.rounded {
  border-radius: .25rem;
}

.outline-none {
  outline: 2px solid transparent;
}

.disc-style {
  list-style: disc inside;
  /** Media Queries **/
}

@media (max-width: 1024px) {
  .lg-hidden {
    display: none;
  }
  .lg-shown {
    display: block;
  }
}
/*# sourceMappingURL=kiisass.css.map */