@import 'modules/reset'
@import 'modules/variables'
@import 'modules/mixins'

/** Global **/

a,
p
  text-decoration: none
  color: #262626

i
  font-style: italic

b
  font-weight: bold

/** Layout **/

.block 
  display: block

.flex 
  display: flex

.hidden
  display: none

.fluid-container
  width: 100%

.container
  margin-left: auto
  margin-right: auto

@for $i from 1 through 12
  .grid-#{$i}
    margin-left: 10px
    margin-right: 10px

/** xs Breakpoint **/

@media (min-width: 0)
  body
    min-width: 290px
    
  .container
    width: 290px

  @for $i from 1 through 12
    .xs-grid-#{$i}
      width: #{$i * 20}px

  .xs-w-full
    width: 240px
  
/** sm Breakpoint **/

@media (min-width: 575px)
  body
    min-width: 576px
    
  .container
    width: 576px

  @for $i from 1 through 12
    .sm-grid-#{$i}
      width: #{$i * 40}px
  
  .sm-w-full
    width: 480px

/** md Breakpoint **/

@media (min-width: 767px)
  body
    min-width: 768px
    
  .container
    width: 768px

  @for $i from 1 through 12
    .md-grid-#{$i}
      width: #{$i * 60}px

  .md-w-full
    width: 720px

/** lg Breakpoint **/

@media (min-width: 991px)
  body
    min-width: 992px
    
  .container
    width: 992px

  @for $i from 1 through 12
    .lg-grid-#{$i}
      width: #{$i * 80}px

  .lg-w-full
    width: 960px

/** xl Breakpoint **/

@media (min-width: 1199px)
  body
    min-width: 1200px
    
  .container
    width: 1200px

  @for $i from 1 through 12
    .xl-grid-#{$i}
      width: #{$i * 100}px

  .xl-w-full
    width: 1200px

/** Position **/

.absolute
  position: absolute

.relative 
  position: relative

.fixed
  position: fixed

.inset 0
  top: 0
  right: 0
  bottom: 0
  left: 0

.inset-x-0
  left: 0
  right: 0

@for $i from 1 through 32
  .top-#{$i}
    top: #{$i * .5}rem

@for $i from 1 through 32
  .right-#{$i}
    right: #{$i * .5}rem

@for $i from 1 through 32
  .bottom-#{$i}
    bottom: #{$i * .5}rem

@for $i from 1 through 32
  .left-#{$i}
    left: #{$i * .5}rem

.z-1
  z-index: 1

.z-10
  z-index: 10

.z-100
  z-index: 100

/** Flexbox **/

.flex-row
  flex-direction: row

.flex-col
  flex-direction: column

.flex-wrap
  flex-wrap: wrap

.flex-nowrap
  flex-wrap: nowrap

.flex-0
  flex: 0

.flex-1
  flex: 1 1 0%

.justify-start
  justify-content: start

.justify-end
  justify-content: end

.justify-center
  justify-content: center

.justify-between
  justify-content: space-between

.justify-around
  justify-content: space-around

.content-start
  align-content: start

.content-end
  align-content: end

.content-center
  align-content: center

.content-between
  align-content: space-between

.content-around
  align-content: space-around

.items-center
  align-items: center

.items-end
  align-items: flex-end

.self-start
  align-self: start

.self-end
  align-self: end

.self-auto
  align-self: auto

.self-center
  align-self: center

/** Responsive Flex Direction **/

/** xs Flex Direction **/

@media (min-width: 0)
    
  .xs-flex-row
    flex-direction: row

  .xs-flex-col
    flex-direction: column
  
/** sm Flex Direction **/

@media (max-width: 575px)
  
  .sm-flex-row
    flex-direction: row

  .sm-flex-col
    flex-direction: column

/** md Flex Direction **/

@media (max-width: 767px)
  
  .md-flex-row
    flex-direction: row

  .md-flex-col
    flex-direction: column

/** lg Flex Direction **/

@media (max-width: 991px)
  
  .lg-flex-row
    flex-direction: row

  .lg-flex-col
    flex-direction: column

/** xl Flex Direction **/

@media (max-width: 1199px)
  
  .xl-flex-row
    flex-direction: row

  .xl-flex-col
    flex-direction: column

/** Spacing **/

.mx-auto
  margin-left: auto
  margin-right: auto

.m-0
  margin: 0

@for $i from 1 through 16
  .mx-#{$i}
    margin-left: #{$i * .5}rem
    margin-right: #{$i * .5}rem

@for $i from 1 through 16
  .my-#{$i}
    margin-top: #{$i * .5}rem
    margin-bottom: #{$i * .5}rem

@for $i from 1 through 16
  .mt-#{$i}
    margin-top: #{$i * .5}rem

@for $i from 1 through 16
  .mr-#{$i}
    margin-right: #{$i * .5}rem

@for $i from 1 through 16
  .mb-#{$i}
    margin-bottom: #{$i * .5}rem

@for $i from 1 through 16
  .ml-#{$i}
    margin-left: #{$i * .5}rem

.p-0
  padding: 0

@for $i from 1 through 16
  .p-#{$i}
    padding: #{$i * .5}rem

@for $i from 1 through 16
  .px-#{$i}
    padding-left: #{$i * .5}rem
    padding-right: #{$i * .5}rem

@for $i from 1 through 16
  .py-#{$i}
    padding-top: #{$i * .5}rem
    padding-bottom: #{$i * .5}rem

/** Sizing **/

.w-25
  width: 25%
  
.w-50
  width: 50%

.w-75
  width: 75%

.w-full
  width: 100%

.w-screen
  width: 100vw

.h-auto
  height: auto

.h-full
  height: 100%

.h-screen 
  height: 100vh

@for $i from 1 through 16
  .h-#{$i}
    height: #{$i * .5}rem

  /** Background **/

.bg-black
  background-color: $black

.bg-white
  background-color: $white

.bg-grey
  background-color: $grey

.bg-dark-grey
  background-color: $dark-grey

.bg-primary-color
  background-color: $primary-color

.bg-secondary-color
  background-color: $secondary-color

/** Typography **/

.font-primary
  font-family: $primary-font

.font-secondary
  font-family: $secondary-font

.text-white
  color: #fff

.text-grey
  color: #aaa9a9

.text-secondary
  color: $secondary-color

.text-xs
  @include text-size

.text-sm
  @include text-size($size: .9rem, $height: 1.25rem, $spacing: .02rem)

.text-base
  @include text-size($size: 1.15rem, $height: 1.7rem, $weight: 400, $spacing: .02rem)

.text-cite
  @include text-size($size: 1.5rem, $height: 1.7rem, $weight: 400, $spacing: .02rem)

.text-lg
  @include text-size($size: 1.2rem, $height: 1.9rem, $weight: 600, $spacing: .03rem)

.text-title
  @include text-size($size: 1.6rem, $height: 1.7rem, $weight: 600, $spacing: .03rem)

.text-xl
  @include text-size($size: 2.5rem, $weight: 700, $height: 1.25rem)

.text-center
  text-align: center

.text-right
  text-align: right

.text-left
  text-align: left

.list-none
  list-style: none

/** Miscelanea **/

.border-none
  border: none

.border
  @include border

.border-t
  @include border-t($width: 1px, $border-color: $grey)

.border-t-secondary
  @include border-t($width: 3px, $border-color: $primary-color)

.border-b
  @include border-b

.rounded
  border-radius: .25rem

.outline-none 
  outline: 2px solid transparent

.disc-style
  list-style: disc inside


/** Toggle Visibility **/

@media (max-width: 1024px)
  .lg-hidden
    display: none

  .lg-shown
    display: block
    