@import 'variables'

/** Typography **/

@mixin text-size($size: .75rem, $weight: 500, $height: 1rem, $spacing: .06rem)
  font-size: $size
  font-weight: $weight
  line-height: $height
  letter-spacing: $spacing

/** Miscelanea **/

@mixin border($border-color: $dark-grey)
  border: 1px solid $border-color

@mixin border-t($width: 1px, $border-color: $dark-grey)
  border-top: $width solid $border-color

@mixin border-b($border-color: $dark-grey)
  border-bottom: 1px solid $border-color
